<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>
<body>

<canvas id="chart"></canvas>

<script>
    var canvas = document.getElementById("chart")
    var prices = new Chart(canvas, {
        type: 'line',
        data: {
            label: [],
            datasets: [{
                label: 'price',
                data: []
            }]
        }
    })

    var interval = 3000

    async function getData() {
        console.log(interval)
        try {
            let res = await fetch("/short");
            let data = await res.json();
            prices.data.labels = data.map(i => i.created)
            prices.data.datasets[0].data = data.map(i => i.price)
            prices.update()
        } catch (e) {
            interval = interval * 2
        }
        connectToStream()

    }
    
    function connectToStream() {
        var source = new EventSource('http://'+window.location.host+'/events/');
        source.addEventListener('actions',function (e) {
            const data = JSON.parse(e.data);
            prices.data.labels.push(data.created)
            prices.data.datasets[0].data.push(data.price)
            prices.update()
        })
    }

    getData()

</script>

</body>
</html>